.science{
    background-color:lightgreen;
    color:white;
}

.Comerse{
    background-color:blue;
    color:white;
}

.Arts{
    background-color:pink;
    color:white;
}
.rounded-circle{
    margin-left:50px;
}
